 .Raleway-font {
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: <weight>;
     font-style: normal;
     font-variation-settings:
         "wdth" 100;
 }

 .max-width {
     max-width: 1140px;
     margin: 0 auto;
 }

 /* header background image */
 .header-background {
     background-image: url('assets/Hero-bg.png');
     height: 698px;
 }

 /* navbar parent */
 .nav-bar {

     margin: 0 auto;
     max-width: 1140px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* nave bar child */
 .nav-bar .logo {
     color: #4E47FF;
     font-size: 34px;
     font-weight: bolder;
 }

 /* nav bar child */
 .nav-bar .signup-btn {

     background-color: #4E47FF;
     height: 48px;
     width: 132px;
     border: none;
     border-radius: 10px;
     color: white;
     font-weight: bold;
 }


 /* banner parent */
 .banner {

     width: 905px;
     height: 237px;
     margin: 158px auto 152px auto;
     text-align: center;
 }

 /* banner child text*/
 .banner .heading {
     font-size: 65px;
     font-weight: bold;
 }

 /* banner child button */
 .stayfocused-btn {
     width: 174px;
     height: 48px;
     color: white;
     background-color: #4E47FF;
     font-weight: bold;
     border: none;
     border-radius: 10px;
 }


 /* action and launch preview parent */
 .action {
     border: none;
     display: flex;
     justify-content: space-between;
     margin-top: 116px;
     margin-bottom: 116px;
 }

 /* action and launch preview child image */
 .right-item {
     align-items: center;
 }

 .left-item h1 {
     font-size: 42px;
     font-weight: bolder;
 }

 .left-item p {
     font-size: 24px;
     color: #2524327a;
 }

 .left-item button {
     background-color: #4E47FF;
     border: none;
     border-radius: 10px;
     font-weight: bold;
     height: 48px;
     width: 239px;
     color: white;
 }


 /* productive user section starts */
 .productive-user-container {
     border: none;
     background-color: #4d47ff1f;
     border-radius: 24px;
     padding-top: 1px;
 }

 .productive-user-container h1 {
     font-size: 38px;
     font-weight: bold;
     text-align: center;
 }


 /* parent productive user container  */
 .user-data-container {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .user-actual-data h1 {
     color: #4E47FF;
     font-size: 80px;
     margin-bottom: 0px;
     text-align: center;
     margin: 0;
     padding: 0;
 }

 .user-actual-data h4 {
     color: #00000065;
     text-align: center;
     margin-top: 0;
     padding-top: 0;
 }

 /* user review section */
 .user-say {
     font-weight: bold;
     font-size: 42px;
     text-align: center;

 }


 /* rating card container parent */
 .user-rating-container {
     display: flex;
     justify-content: space-between;
     margin-top: 50px;
 }

 .user-rating-card {
     border: none;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
     border-radius: 10px;
     height: 200px;
     width: 320px;
     padding: 24px;
 }

 .profile-section {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 0;
     margin: 0;
 }

 .profile-detail h3 {
     margin: 0;
     padding: 0;
     color: rgba(0, 0, 0, 0.582);
 }

 .profile-detail p {
     margin: 0;
     padding: 0;
     color: rgba(0, 0, 0, 0.473);
 }

 .profile-image img {
     border-radius: 50%;
 }

 /* user rating section ends */


 /* ready to focus banner starts */
 .ready-focus-banner-container {
     margin-top: 145px;
     margin-bottom: 92px;
     padding: 71px 150px;
     text-align: center;
     background-color: whitesmoke;
     border-radius: 14px;

 }

 .ready-focus-banner-container h1 {
     font-size: 50px;
     font-weight: bold;
     margin-bottom: 0;
 }

 .ready-focus-banner-container h6 {
     color: rgba(0, 0, 0, 0.445);
     margin-top: 10px;
 }

 .ready-focus-banner-container button {
     font-weight: 500;
     height: 48px;
     width: 195px;
     background-color: #4E47FF;
     color: white;
     border-radius: 10px;
     border: none;
     margin-bottom: 20px;
 }

 /* ready to focus banner ends */


 /* get in touch section starts */
 .get-touch {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .left-heading h1 {
     font-size: 97px;
     font-weight: bold;
 }

 .email-area,
 .name-area {
     height: 50px;
     width: 350px;
     margin: 10px 0;
     border-radius: 10px;
     border: 1px solid rgba(128, 128, 128, 0.404);
     padding: 20px;

 }

 form button {
     height: 62px;
     width: 392px;
     border-radius: 10px;
     border: none;
     background-color: #4E47FF;
     color: white;
     margin-top: 10px;

 }

 textarea {
     width: 350px;
     border-radius: 10px;
     margin-top: 10px;
     border: 1px solid rgba(128, 128, 128, 0.404);
     padding: 20px;
 }

 /* get in touch section ends */


 /* footer section starts */
 .footer-container {
     text-align: center;
     margin-bottom: 0;
 }

 .footer-container h1 {
     color: #4E47FF;
     font-size: 100px;
     font-weight: bolder;
     margin-bottom: 0px;
     padding-bottom: 0px;
 }

 .footer-container p {
     color: rgba(128, 128, 128, 0.747);
     margin-top: 0;
     margin-bottom: 20px;
 }

 .footer-nav {
     display: flex;
     justify-content: center;
     gap: 48px;
     margin-bottom: 50px;
     text-align: center;
 }

 .td {
     text-decoration: none;
     color: gray;
 }

 .he:hover {
     background-color: #4d47ffc5;
     color: black;
 }